<div class="page-intro">
	<div class="container">
		<h1 class="page-title">Blog</h1>
		<p class="lead">
			This is the blog of HKITE.
		</p>
	</div>
</div>
<div class="page-content">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div itemscope itemtype="http://schema.org/Blog" class="post-cards row">
					{{# each data.posts.results}}
					<div class="col-sm-4">
						<article role="article" itemscope="itemscope" itemtype="http://schema.org/BlogPosting" class="post-card">
							{{#if image.exists}}
								<a href="{{postUrl slug}}" class="post-image">
									<img src="{{cloudinaryUrl image width=720 height=420 crop='crop'}}" class="img-responsive" />
								</a>
							{{/if}}
							<div class="post-summary">
								<div class="post-byline">
									<div class="post-author">
										{{#if author.name.first}}<a href="{{postUrl slug}}">{{author.name.first}}</a>{{/if}}
									</div>
								</div>
								<h4 itemprop="name" class="post-title mv-1">
									<a href="{{postUrl slug}}" itemprop="url">
										{{title}}</a>
								</h4>
								<div itemprop="description" class="post-content-brief">
									<p>{{content.brief}}</p>
								</div>
							</div>
						</article>
					</div>
					{{/ each }}				
				</div>
{{!-- 				<h4 class="text-weight-normal">Showing {{ data.posts.results.length}} post.</h4>
				<div class="blog">
					{{# each data.posts.results}}
					<div data-ks-editable="{{#if ../user}}{{adminEditableUrl ../../user _id}}{{/if}}" class="post">
						<h2><a href="{{postUrl slug}}">{{{title}}}</a></h2>
						<p class="lead text-muted">{{{categoryList categories prefix="Posted in "}}}
								{{#if author.name.first}}by {{author.name.first}}{{/if}}
						</p>
						<p>{{{content.extended}}}</p>
						<p class="read-more"><a href="{{postUrl slug}}">Read more...</a></p>
					</div>
					{{/each}}
				</div>
 			</div> --}}
			{{!-- <div class="col-md-2"> --}}
{{!-- 				<h2>Categories</h2>
				<div style="margin-top: 70px;" class="list-group">
					<a href="/blog" class="active list-group-item">All Categories</a>
					{{# each data.categories }}
					<a href="{{categoryUrl key}}" class="false list-group-item">{{name}}</a>
					{{/each}}
				</div>
 			</div> --}}
 			{{>pagination}}
		</div>
	</div>
</div>
