{{!< default}}
<article id="hero" class="hero-meetup hero-meetup--next">
	<section class="hero-intro hero-intro--hasmask">
        <div class="hero-background"></div>
        <div class="hero-intro-content">
            <h5 class="subtitle">{{ternary meetup.state "active" "Next" "Past"}} {{__ "Meetup"}}</h5>
            <h1 class="title">{{{meetup.name}}}</h1>
            <p class="byline"><strong>{{__ "Time"}}:
            {{date meetup.startDate format="YYYY-MM-DD"}} 
            — 
            {{date meetup.startDate format="HH:mm"}} 
            - 
            {{date meetup.endDate format="HH:mm"}}
            </strong></p>
            <p class="byline">{{{ meetup.place}}}  — <a href="http://maps.google.com.au/?daddr={{{or meetup.map meetup.place }}}" target="_blank">Directions</a></p>
            </div>
            <div class="hero-button"><div id="next-meetup" data-id="54b3a33ca9affc020091eda0"><div class="alert alert-success mb-0 text-center"><a target="_blank" href="{{{meetup.srcUrl}}}">{{__ "Meetup Source"}}</a></div>
            </div>
        </div>
    </section>
    <section id="posts" class="page-content">
        <div class="container">
            <div class="timeline">
                <div class="timeline-path"></div>
                <div class="timeline-item--offset"></div>
                {{#each data.meetups}}
                <div class="timeline-item timeline-item-{{listColumn}}">
                    <div class="timeline-item-node"></div>
                    <a href="{{{srcUrl}}}" rel="{{name}}" target="_blank" class="timeline-item-inner">
                        <h6 class="text-caps text-danger">
                            {{date startDate format="MMM DD, YYYY"}}
                        </h6>
                        <h4>{{{name}}}</h4>
                        {{{truncate description 600}}}
                    </a>
                </div>
                {{/each}}
            </div>
        </div>
    </section>
</article>
