{{!< default}}
<div class="container">
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
			<article>
				<p><a href="/blog">&larr; back to the blog</a></p>
				<hr>
				<header>
					<h3>{{data.post.title}}</h3>
					<h5>
						{{{categoryList data.post.categories prefix="Posted in "}}}
						{{#if author.name.first}}by {{author.name.first}}{{/if}}
					</h5>
				</header>
				<div class="post">
					{{{data.post.content.extended}}}
				</div>
			</article>
		</div>
	</div>
	<div id="disqus_thread"></div>
	<script type="text/javascript">
	    /* * * CONFIGURATION VARIABLES * * */
	    var disqus_shortname = 'hkite';
	    var disqus_url = '{{siteUrl}}{{postUrl data.post.slug}}'; 
	    /* * * DON'T EDIT BELOW THIS LINE * * */
	    (function() {
	        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
	        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
	        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
	    })();
	</script>
	<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
	
	<script type="text/javascript">
	$(function(){
		$('img').each(function(idx, el){
			if($(el).attr('data-src')) {
				$(el).attr('src', $(el).attr('data-src'));
				$(el).addClass('img-responsive');
			}
		});

	});
	</script>
</div>
